body {
    font-family: "Arial", sans-serif;
    background-color: #D0F0C0;
    color: #333;
    text-align: center;
    padding: 50px;
    transition: all 0.3s ease;
}

.intro {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #DFFFE0; /* pastel green background */
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow */
    margin-top: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.intro:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-img {
    width: 200px;
    border-radius: 20px;
    margin: 15px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #45A049;
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dark-mode {
    background-color: black;
    color: white;
}